:root {
  --background-color: rgba(0, 0, 0, 0.938);
  --main-bg-color: #5852522f;
  --button-bg-color: rgb(83, 189, 83);
  --button-hover-color: rgb(53, 110, 70);
  --input-border-color: blue;
  --font-family: Arial, sans-serif;
  --font-family-monospace: 'Courier New', Courier, monospace;
  --font-color: white;

  --box-shadow: 0 2rem 3rem rgba(29, 29, 31, 0.2);
  --border-radius: 15px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.danger {
  color: #df0101d7;
}

body {
  font-family: var(--font-family);
  display: flex;
  min-height: 100vh;
  padding: 10rem 15rem;
  justify-items: center;
  align-items: center;
  font-size: 20px;
  font-family: var(--font-family);
  background-color: var(--background-color);
  color: var(--font-color);
  margin: 0px;
}

#question-container{
  background-color: var(--main-bg-color);
  width: 100%;
  padding: 40px 60px;
  border-radius: 20px;
  box-shadow: var(--box-shadow);
}

.main {
  background-color: var(--main-bg-color);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50rem;
  padding: 40px;
  
  margin-left: 20rem;
  margin: 2rem 100px;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  transition: all 0.3s ease;
}



 button {
  margin: 20px;
  padding: 20px;
  background-color: var(--button-bg-color);
  border: none;
  border-radius: var(--border-radius);
  color: var(--font-color);
  font-size: 17px;
  width: 50%;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #268626;
}

input {
  padding: 10px;
  border-radius: 5px;
  border: none;
  outline-color: blue;
  font-size: 20px;
  width: calc(100% - 22px);
}

.question {
  font-family: var(--font-family-monospace);
  font-size: 50px;
  color: var(--font-color);
}



#reponse-div {
  background-color: var(--main-bg-color);
  text-align: center;
  margin: 50px;
  width: 60% 0;
  padding: 40px 60px;
  border-radius: var(--border-radius);


}

#question-card-right {
  padding: 1rem 0.9rem;
  width: 40rem;
  justify-items: center;
  color: var(--font-color);
  background-color: var(--main-bg-color);
  margin: 10px;
  font-size: 20px;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: all 0.3s ease;
}


#question-card-right:hover {
  background-color: #534e4e7a;
  box-shadow: none;
}

.question-card-wrong {
  padding: 1rem 0.9rem;
  width: 40rem;
  justify-items: center;
  color: var(--font-color);
  background-color: var(--main-bg-color);
  margin: 10px;
  font-size: 20px;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: all 0.3s ease;

}

.question-card-wrong:hover {
  background-color: #534e4e7a;
  box-shadow: none;
}
